# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/


# Logs
*.log
metrics.jsonl

# Environment variables
.env
.env.*

# VS Code
.vscode/


# OS files
.DS_Store
Thumbs.db

# Test databases
test.db
*.db